# svc2.service
# stress CPU
# See the man page systemd.resource-control(5) for details
[Unit]
Description=My test app to launch at boot; CPU test
#---------------------
# After=<xxx.target>
# See all targets with 
#  ls /lib/systemd/system/*.target
# See all dependencies on a given target with
#  systemctl list-dependencies <target>
After=mount.target

[Service]
# the script that launches the app
ExecStart=/home/kaiwan/gitL1/wip/systemd_svcunit/svc1.sh
WorkingDirectory=/home/kaiwan

CPUQuota=10%
AllowedCPUs=1

#RemainAfterExit=true
#Restart=always

# If this user is there, it runs as him/her user else as root
User=kaiwan
#--- Hey, DON'T keep a comment on the right of a statement!
# I got this error when I did:
# "svc1.service: Failed to determine user credentials: No such process" yada yada... :-)

[Install]
WantedBy=multi-user.target
