# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.*.swp
IPC/compare_ipc/ /
*.xz
*.tar
Makefile_common.mk
*.old

# All the binary executables etc
ipc/SYS_V_ipc/mq/msg1_r
ipc/SYS_V_ipc/mq/msg1_w
ipc/SYS_V_ipc/shm/shm1_w
ipc/SYS_V_ipc/shm/shm1_w_dbg
ipc/SYS_V_ipc/shm/shm1_w_dbg_asan
ipc/SYS_V_ipc/shm/shm1_w_dbg_ub
ipc/net_sockets/inet_domain/beej_newer/client_any/client_any
ipc/net_sockets/inet_domain/beej_newer/client_any/client_any_dbg
ipc/net_sockets/inet_domain/beej_newer/client_any/client_any_dbg_asan
ipc/net_sockets/inet_domain/beej_newer/client_any/client_any_dbg_lsan
ipc/net_sockets/inet_domain/beej_newer/client_any/client_any_dbg_ub
ipc/net_sockets/inet_domain/beej_newer/showip_getaddrinfo/showip
ipc/net_sockets/inet_domain/beej_newer/showip_getaddrinfo/showip_dbg
ipc/net_sockets/inet_domain/beej_newer/showip_getaddrinfo/showip_dbg_asan
ipc/net_sockets/inet_domain/beej_newer/showip_getaddrinfo/showip_dbg_lsan
ipc/net_sockets/inet_domain/beej_newer/showip_getaddrinfo/showip_dbg_ub
ipc/net_sockets/inet_domain/cpudtl_tstsvr/cpudtl_tstsvr
ipc/net_sockets/inet_domain/cpudtl_tstsvr/cpudtl_tstsvr_dbg
ipc/net_sockets/inet_domain/cpudtl_tstsvr/cpudtl_tstsvr_dbg_asan
ipc/net_sockets/inet_domain/cpudtl_tstsvr/cpudtl_tstsvr_dbg_lsan
ipc/net_sockets/inet_domain/cpudtl_tstsvr/cpudtl_tstsvr_dbg_tsan
ipc/net_sockets/inet_domain/cpudtl_tstsvr/cpudtl_tstsvr_dbg_ub
ipc/net_sockets/unix_domain/unix_cli
ipc/net_sockets/unix_domain/unix_svr
ipc/pipes/fifos/rd_fifo
ipc/pipes/fifos/wr_fifo
ipc/pipes/unnamed_pipes/pipe-dup2
ipc/pipes/unnamed_pipes/pipe1
ipc/pipes/unnamed_pipes/pipe2
ipc/pipes/unnamed_pipes/popen_tst
ipc/pipes/unnamed_pipes/whopipe
ipc/posix_ipc/more_demos/appdemo_shm_sem_as_mtx/appdemo_shm_sem_as_mtx
ipc/posix_ipc/more_demos/appdemo_shm_sem_as_mtx/appdemo_shm_sem_as_mtx_dbg
ipc/posix_ipc/more_demos/appdemo_shm_sem_as_mtx/appdemo_shm_sem_as_mtx_dbg_asan
ipc/posix_ipc/more_demos/appdemo_shm_sem_as_mtx/appdemo_shm_sem_as_mtx_dbg_lsan
ipc/posix_ipc/more_demos/appdemo_shm_sem_as_mtx/appdemo_shm_sem_as_mtx_dbg_ub
ipc/posix_ipc/mq_posix/recv_mq
ipc/posix_ipc/mq_posix/sender_mq
ipc/posix_ipc/sem_named_demo/named_sem_demo
ipc/posix_ipc/sem_named_demo/named_sem_demo_dbg
ipc/posix_ipc/sem_named_demo/named_sem_demo_dbg_asan
ipc/posix_ipc/sem_named_demo/named_sem_demo_dbg_lsan
ipc/posix_ipc/sem_named_demo/named_sem_demo_dbg_ub
ipc/posix_ipc/shm_posix/opencsf_shm_posix_3.10
ipc/posix_ipc/shm_posix/opencsf_shm_posix_3.10_dbg
ipc/posix_ipc/shm_posix/opencsf_shm_posix_3.10_dbg_asan
ipc/posix_ipc/shm_posix/opencsf_shm_posix_3.10_dbg_lsan
ipc/posix_ipc/shm_posix/opencsf_shm_posix_3.10_dbg_ub
pthreads/llnl-tut-prgs/pt3-matrixmul_tsan
pthreads/llnl-tut-prgs/pt4-condvar
pthreads/llnl-tut-prgs/stacksz_asan
pthreads/sched/sched_pthrd_rtprio/common.sh
pthreads/sched/sched_pthrd_rtprio/runit.sh
pthreads/signalling_mt/tsig
pthreads/tlpi_code_cancel_cleanup/thread_cancel
pthreads/tlpi_code_cancel_cleanup/thread_cleanup
